#######################
#    Python staff     #
#######################

__pycache__/

# SQLite database
*.sqlite3

# Environment variables
.env


#######################
#       Editors       #
#######################

# VSCode
.vscode/
