#######################
#    Python staff     #
#######################

__pycache__/
.idea

# SQLite database
*.sqlite3

# Staticfiles
staticfiles/

# Environment variables
.env
src/trash/


#######################
#       Editors       #
#######################

# VSCode
.vscode/
